# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/codecademy/Jammming/node_modules
/codecademy/Jammming/.pnp
/codecademy/Jammming/.pnp.js
/codecademy/Ravenous/node_modules
/codecademy/Ravenous/.pnp
/codecademy/Ravenous/.pnp.js
/js-primer/ajax-communicate/node_modules

# testing
/coverage

# production
/build
/codecademy/Jammming/build
/codecademy/Ravenous/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/codecademy/Jammming/.DS_Store
/codecademy/Jammming/.env.local
/codecademy/Jammming/.env.development.local
/codecademy/Jammming/.env.test.local
/codecademy/Jammming/.env.production.local
/codecademy/Ravenous/.DS_Store
/codecademy/Ravenous/.env.local
/codecademy/Ravenous/.env.development.local
/codecademy/Ravenous/.env.test.local
/codecademy/Ravenous/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/codecademy/Ravenous/npm-debug.log*
/codecademy/Ravenous/yarn-debug.log*
/codecademy/Ravenous/yarn-error.log*


# Ravenous
/codecademy/Ravenous/src/util/APIkey.js

# Jammming
/codecademy/Jammming/src/util/clientID.js